<configuration>
<system.webServer>
  <staticContent>
    <mimeMap fileExtension="." mimeType="application/octet-stream" />
  </staticContent>
  <handlers>
    <clear />
    <add name="StaticFile" path="*" verb="*" modules="StaticFileModule" resourceType="Either" requireAccess="Read" />
  </handlers>
  <staticContent>
    <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="7.00:00:00" />
  </staticContent>
  <rewrite>
    <rules>
      <rule name="StaticFile" stopProcessing="true">
        <match url="^(.*)$" ignoreCase="false" />
        <conditions logicalGrouping="MatchAll">
          <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
        </conditions>
        <action type="Rewrite" url="{STATIC_URL}{R:1}" />
      </rule>
    </rules>
  </rewrite>
</system.webServer>

</configuration>