<!DOCTYPE html>

{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static 'css/main.css'%}>
    <link rel="stylesheet" href={% static 'css/Add Course.css'%}>
    <script defer src={% static 'js/header.js'%}></script>
    <script defer src={% static 'js/footer.js.js'%}></script>
    <script defer src={% static 'js/add_course.js'%}></script>
    <title>Add Course</title>

</head>
<body>
    <!-- header -->
    <header id="website-header"></header>
       <div id="main-content">
            <div class="page-body">
            <div class="title">
                <h1><b>Add Course</b> </h1>
            </div>
            <form id ="form" action="" method="post">

            <div class="txt_field">
                <span></span>
                <input type="text" id="courseName" class="form__field" name="Course name" value="" placeholder="Course name" autofocus>
                <label class="form__label" for="Course name">Course name:</label>
            </div>
            <div id="cNameError" style="display:none;color:red;">Invalid Name:The name must start with letters </div>
            <br>
            <div class="txt_field">
                <span></span>
                <input type="text" id="courseID" class="form__field" name="Course ID" value="" placeholder="course ID" autofocus>
                <label class="form__label" for="Course ID">course ID:</label>
            </div>
            <div id="idError" style="display:none;color:red;">ID must start with letters followed by numbers</div>
            <br>
            <div class="txt_field">
                <span></span>
                <input type="number" min="1" max ="20" id="courseHours" name="course Hours" class="form__field" placeholder="course Hours">
                <label for="course Hours" class="form__label">course Hours:</label>
            </div>
            <br>
            <div >
                <label for="department" >Department:</label>
                <span class="custom-dropdown">
                    <select name="department" id="department">
                        <optgroup label="department">
                                <option value="" disabled selected  >Select your department</option>
                                <option value="CS"> Computer Science </option>
                                <option value="IT"> Information Technology </option>
                                <option value="OR"> Operation Research </option>
                                <option value="IS"> Information System </option>
                                <option value="AI"> Artificial Intelligence </option>
                        </optgroup>
                    </select>
                </span>
            </div> 
            <div id="departmentError" style="display:none;color:red;">Please select a department.</div>
            <br>
            <div>
            <label for="lectureDay">University:</label>
            <span class="custom-dropdown">
                <select name="lDay" id="lecDay" required>
                    <optgroup label="lecture Day">
                        <option value="" selected disabled>lecture Day</option>
                        <option value="Saturday">Saturday</option>
                        <option value="Sunday">Sunday</option>
                        <option value="Monday">Monday</option>
                        <option value="Tuesday">Tuesday</option>
                        <option value="Wednesday">Wednesday</option>
                        <option value="Thursday">Thursday</option>
                        <option value="Friday">Friday</option>
                    </optgroup>
                </select>
            </span>
            </div>
            <br>
            <div class="txt_field">
                <span></span>
                <input type="text" id="hNumber" class="form__field" name="hallNumber" value="" placeholder="Hall number" autofocus>
                <label class="form__label" for="Hall number">Hall number:</label>
            </div>
            <br>
            <div>
                <button type="reset" class="btn"id="reset"> <span> Reset</span> </button>
                <button type="add" class="btn" id="add"> <span>Submit</span></button>
            </div>
        </form>
        </div>
    </div>
    
    
    <!-- footer Section -->
    <footer id = "website-footer"></footer>
</body>
</html>
