<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/add_student.css'%}">
    <script defer src="{% static 'js/footer.js.js'%}"></script>
    <title>Edit Student</title>
</head>

        <!-- header -->
        <header id="website-header">{% include  'header.html'%}</header>
    <div id = "main-content">
        <section class="page-body">
            <div class="title">
                <h1>Edit Student</h1>
            </div>
             <form id ="form" method="POST" action = "{% url 'edit_student' %}" >
                {% csrf_token %}
                <div class="txt_field">
                    <span></span>
                    <input type="text" id="name" class="form__field" name="student name" value="{{student.name}}" placeholder="Name" autofocus>
                    <label class="form__label" for="name">Name:</label>
                </div>
                <div id="name-error" style="display:none;color:red;">Name can't be empty and must contain only letters.</div>
                <br>
                <input type="hidden" name="edit" value="{{ student.stud_id }}">
                 <input type="hidden" name="form_type" value="update">
                <div class="txt_field">
                    <span></span>
                    <input type="text" id="email" class="form__field" name="email" value = "{{student.email}}" placeholder="email">
                    <label for="email" class="form__label">Email:</label>
                </div>
                <span id="emailError" style="display: none; color: red;">Please enter a valid email.</span>
                <br>
                <div class="txt_field">
                    <span></span>
                    <input type="text" id="id" name="student id" value ="{{student.stud_id}}"  class="form__field" placeholder="id">
                    <label for="id" class="form__label">ID:</label>
                </div>
                <div id="id-error" style="display:none;color: red;">ID can't be empty. It's a numeric value of length 8.</div>
                <br>
                <div class="txt_field">
                    <span></span>
                    <input type="password" value="" id="password" name="password" class="form__field" placeholder="password">
                    <ion-icon name="eye-off-outline" ></ion-icon>
                    <label for="password" class="form__label">Password:</label>
                </div>
                <div id="passwordError" style="display:none;color: red;">Password can't be empty and must be more than 8 chars.</div>
                <br>
                <div>
                    <label for="DateOfBirth">Date Of Birth:</label>
                    <input type="date" value=""  name="dateOfBirth" id="DateOfBirth" min='1899-01-01' max='2005-12-31' >
                </div>
                <div id="dateError" style="display:none;color: red;">Please enter the date of birth.</div>
                <br>
                <div>
                    <label for="university">University:</label>
                    <span class="custom-dropdown">
                        <select name="university" id="university" required>
                            <optgroup label="University">
                                <option value="" selected disabled>Select your university</option>
                                <option value="CU">Cairo University</option>
                                <option value="ASU">Ain Shams University</option>
                                <option value="HU">Helwan University</option>
                                <option value="AUC">The American University in Cairo</option>
                                <option value="GUC">German University in Cairo</option>
                            </optgroup>
                        </select>
                    </span>
                    <div id="uniError" style="display:none;color: red;">Please enter the university.</div>
                </div>
                <br>
                <div>
                    <label for="department">Department:</label>
                    <span class="custom-dropdown">
                        <select name="department" id="department" required>
                            <optgroup label="department">
                                <option value="" disabled selected >Select your department</option>
                                    {% for departement in departments %}
                                        <option value="{{ departement.name }}">{{ departement.name }}</option>
                                    {% endfor %}
                            </optgroup>
                        </select>
                    </span>
                    <div id="depError" style="display:none;color: red;">Please enter the department.</div>
                </div>
                <br>
                <div>
                    <label>Gender:</label>
                    <input id="m" type="radio" name="gender" value="Male" checked="true">
                    <label for="m">Male</label>
                    <input id="f" type="radio" name="gender" value="Female">
                    <label for="f">Female</label>
                </div>
                <br>
                <div>
                    <label>Status:</label>
                    <input id="a" type="radio" name="status" value="true" checked="true">
                    <label for="a">Active</label>
                    <input id="ina" type="radio" name="status" value="false">
                    <label for="ina">Inactive</label>
                </div>
             <div>
                    <label for="c1">Course 1:</label>
                    <span class="custom-dropdown">
                        <select name="course1" id="c1" required>
                            <optgroup label="course1">
                                <option value="" disabled selected >Select the first course</option>
                                 {% for course in courses %}
                                     <option value="{{ course.course_id }}">{{ course.name }}</option>
                                 {% endfor %}
                            </optgroup>
                        </select>
                    </span>
                    <div id="c1Error" style="display:none;color: red;">Please enter course1.</div>
                </div>
                <div>
                    <label for="c2">Course 2:</label>
                    <span class="custom-dropdown">
                        <select name="course2" id="c2" required>
                            <optgroup label="course2">
                                <option value="" disabled selected >Select the second course</option>
                                    {% for course in courses %}
                                        <option value="{{ course.course_id }}">{{ course.name }}</option>
                                    {% endfor %}
                            </optgroup>
                        </select>
                    </span>
                    <div id="c2Error" style="display:none;color: red;">Please enter course2.</div>
                </div>
                <div>
                    <label for="c3">Course 3:</label>
                    <span class="custom-dropdown">
                        <select name="course3" id="c3" required>
                            <optgroup label="course3">
                                <option value="" disabled selected >takenCourses[2].course.name</option>
                                    {% for course in allcourses %}
                                        <option value="{{ course.course_id }}">{{ course.name }}</option>
                                    {% endfor %}
                        </select>
                    </span>
                    <div id="c3Error" style="display:none;color: red;">Please enter course3.</div>
                </div>

                <br>
                <br>
                <div>
                    <button type="submit" class="btn" id="submit"> <span> Edit</span></button>
                </div>
            </form>
        </section>
    </div>

    <!-- footer Section -->
    <footer id="website-footer"></footer>
</body>

</html>
