<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <link rel="stylesheet" href="{% static 'css/add_student.css'%}">
    <script defer src="{% static 'js/footer.js.js'%}"></script>
    <title>Edit Student</title>
</head>

        <!-- header -->
        <header id="website-header">{% include  'header.html'%}</header>
    <div id = "main-content">
        <section class="page-body">
            <div class="title">
                <h1>Edit Student</h1>
            </div>
            <form id ="form" action="" method="post">
                <div class="txt_field">
                    <span></span>
                    <input type="text" id="name" class="form__field" name="student name" value="{{student.first_name}} {{student.last_name}}" placeholder="Name" autofocus>
                    <label class="form__label" for="name">Name:</label>
                </div>
                <div id="name-error" style="display:none;color:red;">Name can't be empty and must contain only letters.</div>
                <br>
                <div class="txt_field">
                    <span></span>
                    <input type="text" id="email" value="{{student.email}}" class="form__field" name="email" placeholder="email">
                    <label for="email" class="form__label">Email:</label>
                </div>
                <span id="emailError" style="display: none; color: red;">Please enter a valid email.</span>
                <br>
                <div class="txt_field">
                    <span></span>
                    <input type="text" id="id" name="student id" value="{{student.stud_id}}" class="form__field" placeholder="id">
                    <label for="id" class="form__label">ID:</label>
                </div>
                <div id="id-error" style="display:none;color: red;">ID can't be empty. It's a numeric value of length 8.</div>
                <br>
                <div class="txt_field">
                    <span></span>
                    <input type="number" value="{{student.gpa}}" step="0.01" min="0" max="4" id="gpa" name="gpa" class="form__field" placeholder="gpa">
                    <label for="gpa" class="form__label">GPA:</label>
                </div>
                <br>
                <div class="txt_field">
                    <span></span>
                    <input type="password" id="password" name="password" class="form__field" placeholder="password">
                    <ion-icon name="eye-off-outline" ></ion-icon>
                    <label for="password" class="form__label">Password:</label>
                </div>
                <div id="passwordError" style="display:none;color: red;">Password can't be empty and must be more than 8 chars.</div>
                <br>
                <div>
                    <label for="DateOfBirth">Date Of Birth:</label>
                    <input type="date" name="dateOfBirth" id="DateOfBirth" min='1899-01-01' max='2005-12-31' >
                </div>
                <div id="dateError" style="display:none;color: red;">Please enter the date of birth.</div>
                <br>
                <div>
                    <label for="university">University:</label>
                    <span class="custom-dropdown">
                        <select name="university" id="university" required>
                            <optgroup label="University">
                                <option value="" selected disabled>Select your university</option>
                                <option value="CU">Cairo University</option>
                                <option value="ASU">Ain Shams University</option>
                                <option value="HU">Helwan University</option>
                                <option value="AUC">The American University in Cairo</option>
                                <option value="GUC">German University in Cairo</option>
                            </optgroup>
                        </select>
                    </span>
                    <div id="uniError" style="display:none;color: red;">Please enter the university.</div>
                </div>
                <br>
                <div>
                    <label for="department">Department:</label>
                    <span class="custom-dropdown">
                        <select name="department" id="department" required>
                            <optgroup label="department">
                                <option value="" disabled selected >Select your department</option>
                                <option value="cs"> Computer Science </option>
                                <option value="IT"> Information Technology </option>
                                <option value="DS"> Decision Support </option>
                                <option value="IS"> Information System </option>
                                <option value="AI"> Artificial Intelligence </option>
                            </optgroup>
                        </select>
                    </span>
                </div>
                <br>
                <div>
                    <label>Gender:</label>
                    <input id="m" type="radio" name="gender" value="Male" checked="true">
                    <label for="m">Male</label>
                    <input id="f" type="radio" name="gender" value="Female">
                    <label for="f">Female</label>
                </div>
                <br>
                <div>
                    <label>Status:</label>
                    <input id="a" type="radio" name="status" value="active" checked="true">
                    <label for="a">Active</label>
                    <input id="ina" type="radio" name="status" value="inactive">
                    <label for="ina">Inactive</label>
                </div>

                <br>
                <br>
                <div>
                    <button type="submit" class="btn" id="submit"> <span> Edit</span></button>
                </div>
            </form>
        </section>
    </div>

    <!-- footer Section -->
    <footer id="website-footer"></footer>
</body>

</html>
