<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <script defer src="{% static 'js/footer.js'%}"></script>
    <script defer src="{% static 'js/eyeIcon.js' %}"></script>

    <title> Login Admin </title>
</head>

<body>
    <!-- header -->
    <header id="website-header">
        {% include 'header.html' %}
    </header>

    <div id="main-content">
        <div class="mainDiv">
            <div class="pageTitle">
                <h1> <b> Login </b></h1>
            </div>
            <div>
                <form method="POST">
                    {% csrf_token%}
                    <div class="txt_field">
                        {% if login_type == 'admin'%}
                            <input type="text" name = "username" required>
                            <span></span>
                            <label> Username </label>
                            {% else %}
                            <input type="text" name = "id" id='idField' required>
                            <span></span>
                            <label> ID </label>
                        {% endif %}
                    </div>
                    <!-- Password -->
                    <div class="txt_field">
                        <input type="password" name = "pass" required>
                        <ion-icon name="eye-off-outline" ></ion-icon>
                        <label> Password </label>
                    </div>
                    {%if messages%}
                        {% for message in messages %}
                            <div  style="color: red; margin: 0 0 15px 15px;">{{ message }}</div>
                        {% endfor %}
                    {%endif%}
                    <!-- Remember me checkbox -->
                    <div class="remember-me">
                        <input type="checkbox" id="remember-me" name = "remember">
                        <label for="remember-me" style="color: black;"> Remember me</label>
                    </div>
                    <!-- buttons -->
                    <br> <br>
                    <button type="submit" class="btn">Submit</button>
                    <br> <br> <br> <br>
                    <button type="reset" class="btn">Reset</button>
                </form>
            </div>
        </div>
    </div>
    <!-- footer Section -->
    <footer id="website-footer"></footer>
</body>

</html>
