<!DOCTYPE html>
{% load static %}

<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={% static 'css/main.css'%}>
        <link rel="stylesheet" href={% static 'css/registeredCourses.css'%}>
        <script defer src={% static 'js/header.js'%}></script>
        <script defer src={% static 'js/footer.js.js'%}></script>
        <script defer src={% static 'js/registerCourses.js'%}></script>
{#        <script defer src="../js/localStorage_data.js"></script>#}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="Registered Courses" content="This is page for all student's registered courses">
       
    </head>
    <body>
        <!-- header -->
        <header id="website-header"></header>
        <div id = "main-content">
            <div id = "personal-data">
                <!-- <div id = "title"> -->
                    <h1>MARKS</h1>
                <!-- </div> -->
                <table id = 'mainTable'>
                    <thead style="display: in;">
                        <tr>
                            <th>Course ID</th>
                            <th>Name</th>
                            <th>Hours</th>
                            <th>Team Work</th>
                            <th>Final Exam Work</th>
                            <th>Total Grades</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody id = 'mainTableBody'>
                            {% for course in courses %}
                                    <tr class = "parentRow">
                                        <td>{{course.course_id}}</td>
                                        <td>{{course.name}}</td>
                                        <td>{{course.number_of_hours}}</td>
                                        <td>{{course.course_id}}</td>
                                        <td>{{course.course_id}}</td>
                                        <td>{{course.course_id}}</td>
                                        <td><button class="expand-button" ><i class="fa fa-plus"></i></button></td>
                                    </tr>
                                    <tr class="expandedRow" style="display: none;">
                                        <td colspan="7" class = "test">
                                            <p><strong>Department</strong> : {{course.department}}</p>
                                            <p><strong>Lecture Day</strong> : {{course.lecture_day}}</p>
                                            <p><strong>Hall Number</strong> : {{course.hall_number}}</p>
                                        </td>
                                    </tr>
                            {% endfor %}
                        <div style="display: none;"></div>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- footer Section -->
        <footer id ="website-footer"></footer>
    </body>
</html>
