<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- style for make the table mor readable and centered it on the page-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/search.css' %}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<!--{#    <script defer src={% static 'js/header.js"></script'%}/>#}-->
    <script defer src="{% static 'js/search.js' %}"></script>
    <script defer src="{% static 'js/footer.js' %}"></script>
    <title>Document</title>
    
</head>
<body>
    <!-- this for header section (top of the page) -->
    <header id = "website-header">{% include 'header.html' %}</header>
    
    <div id ="main-content">
        <div id = "search-box">
            <div class="title">
                <h1>Search Student</h1>
            </div>
            <form method="get">
                <div class = "search-container">
                    <button type="submit" class = "search"><i class="fa fa-search"></i></button>
                    <input type="search" placeholder="Enter the name or ID" name="keyword">
                    <label style = "margin-right: 5px; color: #000;">sort by</label>
                    <select id = "Students" name = "priority">
                        <option value ="None" selected>None</option>
                        <option value ="name">Name</option>
                        <option value ="ID">ID</option>
                        <option value ="GPA">GPA</option>
                    </select>
                </div>

            <!-- table for displaying content of the Students -->
                <div id = "table-container">
                    <table>
                        <thead>
                            <tr>
                                <!-- some default data -->
                                <th>Studnet name</th>
                                <th>Student ID</th>
                                <th>Status</th>
                                <th>GPA</th>
                                <th>Email</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                            <tr>
                                <td>{{student.first_name}} {{student.last_name}}</td>
                                <td>{{student.stud_id}}</td>
                                {% if student.is_active == True %}
                                <td>Active</td>
                                {% else %}
                                <td>Not Active</td>
                                {% endif %}
                                <td>{{student.gpa}}</td>
                                <td>{{student.email}}</td>
                                <td class="button-container">
                                    <a href="{%url 'edit_student' %}?student_id={{ student.id }}">
                                      <i class="fas fa-edit"></i>
                                    </a>
                                    <button class="delete" data-studentid="{{student.id}}"><i class="fas fa-trash"></i></button>
                                  </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>


    <footer id = "website-footer"></footer>
    
    
</body>

</html>

<!--<form action="{% url 'edit_student' %}" method="POST">-->
<!--    {% csrf_token %}-->
<!--    <input type="hidden" name="student_id" value="{{ student.id }}">-->
<!--    <button type="submit" style="border: none; background: none;">-->
<!--        <i class="fas fa-edit"></i>-->
<!--    </button>-->
<!--</form>-->

