.mainDiv .pageTitle{
    color:black;
    margin-bottom: 20px;
    text-align: center;
}
.mainDiv {
    background-color: white;
    width: 25%;
    height: 50%;
    padding: 30px;
    border-radius: 20px;
    justify-content: center;
    margin-top: 1px;
    margin-left: 38%;
    overflow: hidden;
    box-shadow: 0 0 7px rgba(0, 0, 0.5);
    padding-bottom: 60px;
    padding-top: 60px;
}

form .txt_field {
    position: relative;
    border-bottom: 3px solid #adadad;
    margin: 30px 0;
}

.txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
}

.txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .4s;
}

.txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: #3e5c6e;
    transition: .4s;
}

.txt_field input:focus~label,
.txt_field input:valid~label {
    top: -5px;
    color: #3e5c6e;
}

.txt_field input:focus~label::before,
.txt_field input:valid~label::before {
    width: 100%;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #3e5c6e;
    cursor: pointer;
}

.pass:hover {
    text-decoration: underline;
}

/* buttton styling */
button[type="submit"],
button[type="reset"] {
    width: 100%;
    height: 60px;
    border: 1px solid;
    border-radius: 25px;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

/* remember me checkbox styling */
.remember-me {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}

.remember-me input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.remember-me label {
    margin: 0;
    padding: 0;
}


ion-icon {
    color: black;
    float: right;
    transform: scale(1.8);
    margin: -30px 0 0 0;
    cursor: pointer;
    opacity: 0.4;
}
input[type='password']::-ms-reveal,
input[type='password']::-ms-clear {
    display: none;
}