table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.1);
	border-radius: 10px;
}

#personal-data{
	box-shadow:var(--main-box-shadow);
	background-color: white;
	margin-left: 150px;
	margin-right: 150px;
	border-radius: 10px;
}

h1{
  	padding: 40px 0 30px 0; 
	color: black;
	text-align: center;
	
}

th,
td {
	padding: 15px;
	color: black;
	text-align: center;
}


th{
        background-color: #f1f1f1;
		
}
tbody tr:hover{

	background-color: #eee;
    transform: translateX(0);

}
tr{
	border-bottom: 1px solid #ddd;
	width: 100%;
}


.expand-button {
	margin: 0 5px;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: var(--gradient-background-color);
    cursor: pointer;
  }

  .expandedRow p{
	text-align: left;
  }
