<nav>
    <img src="" alt="">
    <h2><a href = "{% url 'home' %}">FCAI CU</a></h2>
    <ul id="right">
        <li> <a href="{% url 'home' %}" class = "left-right-border-effect">Home</a></li>
        {% if not request.user.is_authenticated %}
        <li id = "login-button">
            <a href="" class = "left-right-border-effect">Login</a>
            <ul class = "dropdown-content">
                <li><a href="{% url 'login_student' %}">Student</a></li>
                <li><a href="{% url 'login_admin' %}">Admin</a></li>
            </ul>
        </li>
        {% endif %}

        <li id = "menu">
            <a href="" class = "left-right-border-effect" >Menu</a>
            <ul class = "dropdown-content">
                    {#  Student chioces #}
                    {% if request.user.role == "STUDENT" %}
                        <li class = "student-only"><a href="{% url 'register_in_courses' %}">Register in a Course</a></li>
                        <li class = "student-only"><a href="{% url 'registered_courses'%}">Registered Courses</a></li>
                    {% else %}
                        {#  Admin chioces #}
                        <li class = "admin-only"><a href="add_Student.html">Add a Student</a></li>
                        <li class = "admin-only"><a href="{% url 'search_students' %}">Search in Students</a></li>
                        <li class = "admin-only"><a href="add _course.html">Add Course</a></li>
                    {% endif %}
            </ul>
        </li>
        <li>
            <a href="{% url 'about' %}" class = "left-right-border-effect">About</a>
        </li>
        {% if request.user.is_authenticated %}
            <li   id="log_out">
                <a class = "left-right-border-effect" href = "{%url 'logout'%}">Logout</a>
            </li>

        {% endif %}

        {% if request.user.is_authenticated %}
        <li class="">
            <a href="{%url 'profile'%}" class = "left-right-border-effect" id = "profile" style="padding: 10px;">Profile</a>
        </li>
        {% endif %}
    </ul>
</nav>
